FRONTEND_URL="http://localhost:3000"
POSTGRES_URL=
GEMINI_API_KEY=
ENVIRONMENT=

#JWT
REFRESH_SECRET_KEY=
ACCESS_SECRET_KEY=
ALGORITHM = "HS256"
JWT_ACCESS_EXPIRATION_MINUTES = 15
JWT_REFRESH_EXPIRATION_DAYS = 7